
.ipynb_checkpoints/

Data/3_class_init/

Data/best_data/

Data/init_data/

Data/with_faces_wild_more_mask/

Spit/annotations/

Spit/lfw/

Spit/face_mask_dataset/

Spit/hackathon_2021-main/

Spit/face_mask_dataset.zip

Spit/Faces_in_the_wild.tgz

Spit/hackathon_2021-main.zip

Models/
